/* This component aligns items in a grid. Used for Exercise list and Workout Plans */

.exercises {
    width: 90%;
    max-width: 180rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
  }